<div class="container">
  <div class="card">
    <div class="container p-5">
      <h1 class="text-center m-3">Create a New Recipe</h1>
      <div>
        <%= simple_form_for @recipe, html: {class: "form forms"} do |f| %>
          <% if flash[:recipe_errors] %>
        <% end %>
        <div class="form-group">
        <%=f.input :picture, as: :file, class: "form-control" %>
        <%= f.input :name, class: "form-control forms" %>
        <%= f.input :description, class: "form-control forms" %>
      <div class="form-group forms">
          <label for="Select Category">Category</label>
          <select class="form-control" id="exampleSelectLanguage" required>
            <option value="">Select your Category</option>
            <option value="apps">Appetizers</option>
            <option value="soups">Soups & Salads</option>
            <option value="main">Main Courses</option>
            <option value="bread">Breads</option>
            <option value="dessert">Desserts</option>
          </select>
          <div class="invalid-feedback">Please provide a valid value.</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group forms m-3">
        <h4 class="forms mr-2">Ingredients</h4>
          <div>
            <%= f.simple_fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', :f => ingredient %>
            <% end %>
          <div>
            <%= link_to_add_association 'Click to Add Ingredient', f, :ingredients %>
          </div>
          </div>
        </div>  
        <div class="form-group m-3 forms">
          <label for="Instructions">Instructions</label>
          <textarea class="form-control" id="Instructions" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-lg colors ml-3 mt-3">Create Recipe</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
