<h1>Create a New Recipe</h1>
<div>
  <%= simple_form_for @recipe do |form| %>
    <div class="margin-m"> <%= form.input :name %></div>
    <div class="margin-m"><%= form.input :description %></div>
    <div>
    <%= form.simple_fields_for :ingredients do |ingredient| %>
      <%= render 'ingredients_field', :form => ingredient %>
    <% end %>
    <div class="margin-m"><%= form.input :instructions, as: :text %></div>
  	<div class="margin-m"><%= form.button :submit %></div>
  <% end %>
</div>
