<h1>Create a New Recipe</h1>
<div class="">
  <%= simple_form_for @recipe do |form| %>
    <div> <%= form.input :name %></div>
    <div><%= form.input :description %></div>
    <div><%= render 'form'%></div>
    <div><%= form.input :instructions, as: :text %></div>
  	<div><%= form.button :submit %></div>
  <% end %>
</div>
