<div class="page-container" style="border: 1px solid red">
<h1><%= @recipe.name %></h1>
<h2>Description:</h2>
  <p><%= @recipe.description %></p>
<h2>Ingredients:</h2>
  <% @recipe.ingredients.each do |ingredient|%>
    <p><%= ingredient.name %></p> 
  <% end %> 
<h2>Instructions:</h2>
  <%= @recipe.instructions %>
</div>

<div class="page-container always-break"  style="border: 1px solid red">
  <div class="image">
   <%= wicked_pdf_image_tag('chocolate_cake.jpg', height: '1200', width: '960')%>
  </div>
</div>
