<div class="bg-image">
<h1 class="text-center"><%= @recipe.name %></h1>
<% if @recipe.picture.attached? %>
	<%= image_tag @recipe.picture.variant(resize: '100x200') %>
<% end %>
<h2 class="m-3 bold-f">Description:</h2>
	<p class="m-3"><%= @recipe.description %></p>
<h2 class="m-3 bold-f">Ingredients:</h2>
	<% @recipe.ingredients.each do |ingredient|%>
		<p class="m-3"><%= ingredient.quantity %> 
			<%= ingredient.name %></p>	
	<% end %>	
<h2 class="m-3 bold-f">Instructions:</h2>
	<p class="m-3"> <%= @recipe.instructions %></p>
</div>