<h1><%= @recipe.name %></h1>
<% if @recipe.picture.attached? %>
	<%= image_tag @recipe.picture.variant(resize: '100x200') %>
<% end %>
<h2>Description:</h2>
	<p><%= @recipe.description %></p>
<h2>Ingredients:</h2>
	<% @recipe.ingredients.each do |ingredient|%>
		<p><%= ingredient.name %></p>	
	<% end %>	
<h2>Instructions:</h2>
	<%= @recipe.instructions %>