<div class="container">
  <div class="card">
    <div class="container p-5">
      <h1 class="text-center m-3">Create a New Book</h1>
      <%= simple_form_for @book, html: {class: "form forms"} do |f| %>
        <%= flash[:book_errors] %>
        <%=f.input :picture, as: :file, class: "form-control" %>
        <%= f.input :title, class: "form-control" %>
        <%= f.input :intro, class: "form-control" %>
        <hr>
        <div class="form-group mt-5">
          <h4>Recipes in this cookbook</h4>
          <div class="form-group mt-3">
          	<ul class="nav nav-tabs" id="myTab" role="tablist">
          	  <% current_user.groups.each_with_index do |group, index| %>
        	  	  <li class="nav-item">
        	  	  	<a class="nav-link <%= index == 0 ? 'active' : ''%>" id="group-<%= group.id %>-tab" data-toggle="tab" href="#group-<%= group.id %>" role="tab" aria-controls="profile" aria-selected="false"><%= group.name %>'s Recipes</a>
        	  	  </li>
        			<% end %>
          	</ul>
          	<div class="tab-content m-3" id="myTabContent">
          	  <% current_user.groups.each_with_index do |group, index| %>
        			  <div class="tab-pane fade show <%= index == 0 ? 'active' : ''%>" id="group-<%= group.id %>" role="tabpanel" aria-labelledby="group-<%= group.id%>-tab">
        		  		<%= f.association :recipes, collection: group.recipes, as: :check_boxes, label: "" %>
        			  </div>
        			<% end %>
          	</div>
          </div>
          <button type="submit" class="btn btn-lg colors ml-3 mt-3">Create Book</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
