<div class="page-container" style="border: 1px solid red">
 <h1 class="title-page"><%=current_user.name%>' Family Cookbook </h1>
</div>
<% recipe_pages = {} %>
<% @book.recipes.each_with_index do |recipe, index| %>
<% recipe_pages[recipe.id] = ((index) * 2) + 1 %>
<div class="page-container" style="border: 1px solid red">
   photo title page
</div>
<div class="page-container" style="border: 1px solid red">
  <h1><%= recipe.name %></h1>
  <h2>Description:</h2>
    <p><%= recipe.description %></p>
  <h2>Ingredients:</h2>
    <% recipe.ingredients.each do |ingredient|%>
      <p><%=ingredient.quantity%> <%= ingredient.name %></p>  
    <% end %> 
  <h2>Instructions:</h2>
    <%= recipe.instructions %>
  </div>
<% end %>
</div>
<div class="page-container" style="border: 1px solid red">
  <h1>Appendix: Recipes By Ingredient</h1>
  <% @grouped_ingredients.each do |ingredient_name, instances| %>
    <h2><%= ingredient_name %></h2>
    <ul>
      <% instances.each do |ingredient| %>
        <li>....<%= ingredient.recipe.name %> (page <%= recipe_pages[ingredient.recipe.id] %>)</li>
      <% end %>
    </ul>
  <% end %>
</div>